body {
    background-color: aquamarine;
}
.descriptor {
    font-weight: bold;
}
span {
    font-weight:500;
}
/* Start of added code from tutorial below */
* {
    box-sizing: border-box;
}
.container {
    position: relative;
    /* padding: 0 0 100px; */
    text-align: center;
  }
.mySlides {
    display: none;
    display: inline-block;
    object-fit: cover;
  }
.textDetail {
  display: inline-block;
}
.cursor {
    cursor: pointer;
}
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
.column:after {
    content: "";
    display: table;
    clear: both;
  }
  /* 4 rows side by side */
.row {
    float: left;
    width: 25%;
  }
.demo {
    opacity: 0.6;
    object-fit: cover;
  } 
.active,
.demo:hover {
    opacity: 1;
  }
.myText {
  border-color: black;
}